# --- Postgres Database Settings ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_secure_root_password
POSTGRES_DB=portfolio_db

# --- MongoDB Database Settings ---
MONGO_INITDB_ROOT_USERNAME=mongo_user
MONGO_INITDB_ROOT_PASSWORD=mongo_secure_root_password

# --- JWT Secrets ---
JWT_SECRET=replace_with_a_long_random_hash_string

# --- Grafana Settings ---
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=grafana_secure_admin_password

COMPOSE_PROJECT_NAME=portfolio
